<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925529316912-rgmp4c8ah10vig4at93a62kl0seipdgm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925529316912-rgmp4c8ah10vig4at93a62kl0seipdgm</string>
	<key>API_KEY</key>
	<string>AIzaSyB7GqvtZIOwdd1wUuw2IepRhWHjt8zALX0</string>
	<key>GCM_SENDER_ID</key>
	<string>925529316912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.motiveai.snaptrack</string>
	<key>PROJECT_ID</key>
	<string>snaptrack-expense</string>
	<key>STORAGE_BUCKET</key>
	<string>snaptrack-expense.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925529316912:ios:69d2d1c60297d8986d57f5</string>
</dict>
</plist>